<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	<head>
		<title>edpark.wtf 😀</title>

		{{ partial "head.html" . }}

	</head>
	<body>
		<div class="container wrapper">
			<div class="row">
				<div class="text-center col-centered">
					<iframe width="940" height="528" src="https://www.youtube.com/embed/Pvr1FxTg1as?rel=0" frameborder="1" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 user-profile text-center">

				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 user-social text-center">
					<a href="https://instagram.com/edwardpark" title="Instagram" target="_blank"><i class="fa fa-instagram fa-4x" aria-hidden="true"></i></a>
					<div>
						<a href="https://instagram.com/edwardpark" target="_blank" style="font-size: 18px;">Instagram</a>
					</div>
				</div>
				<div class="col-xs-12 user-social text-center">

					{{ with .Site.Params.FacebookID }}
					<a href="https://facebook.com/i.am.edpark" title="Facebook" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
					{{ end }}
					{{ with .Site.Params.TwitterID }}
					<a href="https://twitter.com/edpark" title="Twitter" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
					{{ end }}

				</div>
			</div>
			<div class="push"></div>
		</div>
	</body>
</html>
